<div style="background-color:blue;">
    <h1 align="center">
        <br> Automated Job Scheduling Based on Work Load and Skill Level
        <br>
        <br>
    </h1>
</div>

<br>
<div style="background-color:rgb(153, 22, 44);">
    <form class="" action="emp" method="post" align="center">
        {% csrf_token %}
        <br><br>
        <input type="submit" name="" value="Employee Master">
        <br><br>
    </form>
</div>

<br>
<div style="background-color:rgb(153, 140, 22);">
    <form class="" action="machine" method="post" align="center">
        {% csrf_token %}
        <br><br>
        <input type="submit" name="" value="Machine Master">
        <br><br>
    </form>
</div>

<br>
<div style="background-color:rgb(22, 153, 44);">
    <form class="" action="mpp" method="post" align="center">
        {% csrf_token %}
        <br><br>
        <input type="submit" name="" value="Monthly Production Plan">
        <br><br>
    </form>
</div>

<br>
<div style="background-color:rgb(193, 35, 199);">
    <form class="" action="month" method="post" align="center">
        {% csrf_token %}
        <br><br>
        <input type="submit" name="" value="Month Master">
        <br><br>
    </form>
</div>