{% extends 'crud/base2.html' %}{% block title %} Yet To{% endblock %} {% block content %}
<!DOCTYPE html>
<html>



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #afcc7a !important;
        }
    </style>

    <br><br>
    <!--
    <div align="center">
        <h4>Choose VSM
            <select placeholder="VSM" name="vsm">
        <option value="" style="display:none;">VSM</option>
        <option value="TS">TS</option>
        <option value="UJ">UJ</option>
        </select></h4>
    </div>-->
    <div align="center">
        <form action="yetto" method="post">
            {% csrf_token %}
            <select name="vsm">
          <option selected="selected" disabled>VSM</option>
          <option value="TS">TS</option>
          <option value="UJ">UJ</option>
          
        </select>
            <input type="submit" value="Submit">
        </form>
    </div>

    <table class="table table-dark table-hover" align="center">
        <thead align="center">
            <tr>

                <th>VSM Name</th>
                <th>Machine Name</th>
                <th>Shift Nor</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody align="center">

            {% for item in items %}

            <tr>

                <td>{{ item.vsmname }}</td>
                <td>{{ item.mcname }}</td>
                <td>{{ item.shiftnor }}</td>
                <td>{{ item.empid }}</td>
                <td>{{ item.empname }}</td>

            </tr>

            {% endfor %}
        </tbody>
    </table>

</head>

<body>

</body>

</html>
{% endblock %}